html,
body {
  height: 100%;
}
body {
  background: #141414;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  list-style: none;
  text-decoration: none;
}
#gamefinder {
  margin-left: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1.74222px;
}
strong {
  font-weight: 800;
}
header {
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
  box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}
.top-header {
  display: flex;
  width: 100%;
  height: 91px;
  align-items: center;
  justify-content: space-between;
}
.search-container {
  display: flex;
}
.search {
  height: 36px;
  background-color: #f1f1f1;
  border-radius: 0px 20px 20px 0px;
  border-color: transparent;
  width: 312px;
}
input[type="text"] {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #a6a6a6;
  padding: 0px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  background-color: #f1f1f1;
}
.icon_search {
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 20px;
}
.logout-container {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.logout {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400px;
}
.logout_icon {
  cursor: pointer;
  margin-left: 11px;
}

.line-1 {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 94%;
  height: 1px;
  color: #ffffff;
  background-color: #ffffff;
  margin-left: 40px;
  margin-right: 40px;
}
.perfil-img {
  width: 43.87px;
  height: 45.33px;
  border-radius: 100%;
  margin-left: 37.32px;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
}
.cards {
  height: 100%;
  width: 100%;
}
.list-space {
  margin: 33px;
}
a {
  color: #ffffff;
  white-space: pre;
}
#home {
  color: #7cd235;
}
.weight-strong-text {
  font-weight: 800;
}
.svg-sidebar {
  margin-right: 14px;
}
.cards-container {
  margin-right: 40px;
  height: 100%;
  width: 100%;
}
.head-cards {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
}
#new-trend {
  color: #ffffff;
  font-size: 55px;
  line-height: 75px;
}
.header-cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.icon-head-cards {
  display: flex;
  align-items: center;
}
.icon-head-cards svg {
  cursor: pointer;
}
#space-between-icons-head-cards {
  margin-right: 24px;
}
.main-bottom-cards {
  margin-top: 30px;
}
.grid-container {
  display: grid;
  grid-template-rows: 314px 314px 314px;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(363px, 1fr));
}
.one-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.cards-style {
  background: #303030;
  height: 314px;
  width: 363px;
  border-radius: 10px;
}
.cards-style-new {
  height: 538px;
  width: 80%;
}
.card-interact-button {
  cursor: pointer;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
}
.card-interact-button-new {
  display: flex;
  align-items: center;
}

.image-card {
  border-radius: 10px 10px 0px 0px;
  height: 204.25px;
  width: 100%;
}
.image-card-new {
  width: 100%;
  height: 315px;
}
.game-title {
  margin-top: 9.75px;
  text-align: left;
  width: 220px;
  color: #ffffff;
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.game-title-new {
  margin-top: 9.75px;
  text-align: left;
  width: 220px;
  color: #ffffff;
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;
  white-space: nowrap;
  overflow: visible;
  text-overflow: auto;
}
.bottom-info-card {
  margin-left: 20px;
  margin-right: 20px;
}
.bottom-info-card-new {
  width: 89.5%;
}
.title-plataform-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 23px;
}
.title-plataform-container-new {
  height: 50px;
}
.date-gif {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.date-container {
  width: 186px;
  height: 46px;
}
.date-container-new {
  display: flex;
  margin-top: 17px;
  gap: 40px;
}
.text-container {
  display: flex;
  justify-content: space-between;
}
.text-grid {
  margin-top: 6px;
  padding-bottom: 2.5px;
  color: #939393;
  font-weight: 300;
  font-size: 12px;
}
.line {
  width: 186px;
  border: 1px solid #3d3d3d;
}
.number-gif-new {
  display: flex;
  margin-top: 10px;
}
.number-game {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #2bb34f;
}
.number-game-new {
  margin-right: 60px;
  margin-top: 10px;
}
.plus {
  margin-right: 3px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.gif {
  margin-top: 6px;
  width: 47px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
  border-radius: 10px;
}
.svg-space {
  height: 13.73px;
  width: 13px;
  margin-left: 8px;
}
.modal-shadow {
  display: none;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.784937);
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1082px;
  height: 796.63px;
}
.modal-img {
  width: 100%;
  height: 80%;
  z-index: -1;
  position: absolute;
}
.modal-grid {
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 1fr;
  height: 694.63px;
  width: 100%;
  margin-top: 34px;
  margin-left: 79px;
  margin-bottom: 65px;
}

.modal-title {
  grid-column: 1;
  font-weight: 800;
  font-size: 60px;
  line-height: 82px;
  color: #ffffff;
}
.exit {
  width: 445px;
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}
.exit svg {
  cursor: pointer;
}
.ranking {
  grid-column: 1;
  display: flex;
  gap: 20px;
}
.modal-video-img {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 14px;
  width: 392px;
  height: 455px;
  grid-column: 2;
  grid-row-start: 3;
  grid-row-end: 8;
}
.modal-video-style {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 392px;
  height: 217px;
}

.mini-img-style {
  height: 104px;
  width: 184px;
}
.mini-game-pictures {
  height: 100%;
  width: 100%;
}
.two {
  width: 186px;
}
.modal-date-ranking {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  align-items: center;
  height: 27px;
  display: flex;
  font-size: 16px;
  line-height: 22px;
  background-color: #ffffff;
}
.ranking-number {
  margin-right: 5px;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #2bb34f;
}
.button-buy {
  cursor: pointer;
  display: flex;
  gap: 20px;
  padding: 10px;
  padding-bottom: 22px;
}
.button-where {
  cursor: pointer;
  display: flex;
  padding: 0px;
  justify-items: center;
  justify-content: center;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 10px;
  width: 125px;
  height: 50px;
}
.button-text {
  margin-top: 7px;
  margin-right: 8px;
  color: #ffffff;
  font-size: 12px;
  line-height: 17px;
}
.button-plus {
  margin-top: 9px;
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 24px;
  line-height: 33px;

  text-align: center;

  color: #ffffff;
}
.button-wish {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
  border-radius: 10px;
  width: 151px;
  height: 50px;
  overflow: hidden;
}
.button-strong {
  font-size: 18px;
  line-height: 17px;
}
.svg-box {
  height: 25px;
  width: 25px;
  margin-top: 13px;
}
.modal-description-text {
  overflow-y: scroll;
  width: 468px;
  color: #ffffff;
  font-size: 14px;
  line-height: 19px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}
.comment-review {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #515151;
  border-radius: 10px;
  width: 141px;
  height: 40px;
}
.comment-review-text {
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}
::selection {
  background: #7cd235;
}
.review-plus {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}
.button-community {
  display: flex;
  gap: 24px;
  padding-top: 20px;
}
.aditional-info-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #939393;
}
.aditional-info-link {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #ffffff;
}
.no-line {
  text-decoration: none;
}
.aditional-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 50px;
}
.aditional-info-container {
  display: flex;
}
.modal-flexbox {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #303030 60%,
    #303030 75%
  );
}
.game-picture {
  width: 100%;
  height: 100%;
}
.button-grid-style:hover {
 fill: #ffffff;
}
.button-column-style:hover {
  fill: #ffffff;
}
.selected-button-column {
  fill: #515151;
}
.noselected-button-column {
fill: #303030;
}
/*  css columns */

.column-bottum-interaction-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
}
.description-column {
  display: none;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  width: 89.5%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.modal-out {
  display: none;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.784937);
}
.loader-cards {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: url(/style/image-icons/super-buu-hourglass.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #141414;
  display: none;
}
.loader-more {
  background-color: #141414;
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: 1;
  display: none;
}
.exit-click {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hamburguer {
  display: none;
  cursor: pointer;
  padding-left: 40px;
}
.nav-tablet-container {
  z-index: 1;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.exit-nav {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.title-nav {
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1.74222px;
}
.show-content {
  display: block;
}

@media only screen and (max-width: 1439px) {
  html,
  body {
    zoom: 90%;
  }
}

@media only screen and (max-width: 1080px) {
  .modal-container {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .nav-aside {
    display: none;
  }
  .show {
    display: none;
  }
  .hamburguer {
    display: block;
  }
}
.ham_show {
  box-shadow: 14px 0px 36px 5px rgba(0, 0, 0, 0.62);
  display: block;
  background-color: #151515;
  height: 100%;
  width: 303px;
}
.log-nav {
  padding-left: 40px;
  padding-top: 317px;
}
